/vidu1/nbproject/private/
/vidu1/build/
/vidu2/nbproject/private/
/vidu2/build/
/BaiTapInGiaTri/nbproject/private/
/BaiTapInGiaTri/build/
/baitapphanbietchuoi/nbproject/private/
/baiTapVeNha/nbproject/private/
/baiTapVeNha/build/
/baitapphanbietchuoi/build/
